body {
    margin: 0;
    font-family: sans-serif;
}

.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;
    color: white;

    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../img/hero.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    /* Text styles */
    font-size: 6vw;

    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero h2 {
  font-size: 3vw;
}

.hero .btn {
    /* Positioning and sizing */
    display: block;
    min-width: 80px;
    width: 20%;

    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    /* Text styles */
    color: white;
    text-decoration: none;
    font-size: 2vw;

    /* Border styles */
    border: 3px solid white;
    border-radius: 20px;

    /* Background styles */
    background-color: rgba(0, 191, 255, 0.7);
}

.portfolio {
  /* Sizing */
  width: 100vw;
  min-height: 100vh;
  height: 100%;

  /* Flexbox stuff */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;

  /* Text styles */
  text-align: center;
  color: white;

  /* Background styles */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../img/wood.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.portfolio h1 {
  font-size: 6vw;
  width: 100%;
}

.portfolio h2 {
  font-size: 2.5vw;
}

.portfolio .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-start;
}

.card {
  background-color: #303030;
  color: white;
  border-radius: .25em;
  /* width: 25vw; */
  /* min-width: 250px; */
  margin: 1em;
}

.project-img {
  width: 25vw;
  min-width: 250px;
}

.portfolio .btn {
    /* Positioning and sizing */
    display: block;
    min-width: 80px;
    width: 20%;

    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    /* Text styles */
    color: white;
    text-decoration: none;
    font-size: 2vw;
    font-weight: bold;

    /* Border styles */
    border-radius: .25em;
    margin-bottom: 5px;

    /* Background styles */
    background-color: rgba(0, 191, 255, 0.7);
}
